
   # Instalación de los programas y librerias correspondientes

In [1]:
#! pip install selenium

In [2]:
#!pip install beautifulsoup4

In [3]:
#!pip install SQLAlchemy

In [4]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import requests as req
from bs4 import BeautifulSoup as bs
import time
import pandas as pd
from sqlalchemy import create_engine 
import warnings
warnings.filterwarnings('ignore')

# 1ª Fuente 
  #### Archivos csv de las plataformas netflix, amazon y disney provenientes de los datasets de Kaggle

In [5]:
df_netflix = pd.read_csv('../Alejandro Durán/data/netflix.csv')
df_netflix.shape

(8807, 12)

In [6]:
df_amazon = pd.read_csv('../Alejandro Durán/data/amazon.csv')
df_amazon.shape

(9668, 12)

In [7]:
df_disney = pd.read_csv('../Alejandro Durán/data/disney.csv')
df_disney.shape

(1368, 12)

#### Se realiza una pequeña limpieza de datos para todos los datasets

In [8]:
 # Se eliminan las filas que contienen series (TV Shows)
df_netflix = df_netflix.drop(df_netflix[df_netflix['type'] == "TV Show"].index) 

# También las filas con documentales 
df_netflix = df_netflix.drop(df_netflix[df_netflix['listed_in'] == "Documentaries"].index) 

# Columnas que no hacen falta
df_netflix = df_netflix.drop(columns=['description', 'listed_in', 'duration', 'rating', 'date_added', 'country', 'cast', 'type', 'show_id'], axis=1) 

# Nueva columna para la id
df_netflix['netflix_id'] = [i for i in range(1, 5773)] 

# Reordenación adecuada
df_netflix = df_netflix[['netflix_id', 'title', 'director', 'release_year']]

# Renombrar columnas relacionadas con los datasets de imbd y directors para que coincidan
df_netflix = df_netflix.rename(columns = {'title': 'Movie', 'director': 'Director'})

# 2 nuevas columnas añadidas después de crear la base de datos, se rellenan con nulos ya que no operaremos con ellas
df_netflix['Directors_Director'] = None

df_netflix['Imbd_Movie'] = None

In [9]:
df_netflix.shape

(5772, 6)

In [10]:
df_amazon = df_amazon.drop(df_amazon[df_amazon['type'] == "TV Show"].index) 

df_amazon = df_amazon.drop(df_amazon[df_amazon['listed_in'] == "Documentary"].index) 

df_amazon = df_amazon.drop(columns=['description', 'listed_in', 'duration', 'rating', 'date_added', 'country', 'cast', 'type', 'show_id'], axis=1)

df_amazon['amazon_id'] = [i for i in range(1, 7515)]

df_amazon = df_amazon[['amazon_id', 'title', 'director', 'release_year']]

df_amazon = df_amazon.rename(columns = {'title': 'Movie', 'director': 'Director'})

df_amazon['Directors_Director'] = None

df_amazon['Imbd_Movie'] = None

In [11]:
df_amazon.shape

(7514, 6)

In [12]:
df_disney = df_disney.drop(df_disney[df_disney['type'] == "TV Show"].index) 

df_disney = df_disney.drop(df_disney[df_disney['listed_in'] == "Documentary"].index) 

df_disney = df_disney.drop(columns=['description', 'listed_in', 'duration', 'rating', 'date_added', 'country', 'cast', 'type', 'show_id'], axis=1)

df_disney['disney_id'] = [i for i in range(1, 968)]

df_disney = df_disney[['disney_id', 'title', 'director', 'release_year']]

df_disney = df_disney.rename(columns = {'title': 'Movie', 'director': 'Director'})

df_disney['Directors_Director'] = None

df_disney['Imbd_Movie'] = None

In [13]:
df_disney.shape

(967, 6)

# 2ª Fuente
  #### web scraping con selenium de la url https://www.imdb.com/chart/top/?ref_=nv_mv_250 necesario para introducir el email y password del usuraio para obtener los titulos de las peliculas en idioma original. A continuación se realiza un 'escrapeo' con BeautifulSoup para sacar los datos (nombres de las películas y directores)

In [14]:
url ='https://www.imdb.com/chart/top/'

In [15]:
PATH = ChromeDriverManager().install()

driver = webdriver.Chrome(PATH)

driver.get(url)

login = driver.find_element_by_xpath('//*[@id="imdbHeader"]/div[2]/div[5]/a/div')
login.click()

time.sleep(2)

login2 = driver.find_element_by_xpath('//*[@id="signin-options"]/div/div[1]/a[1]')
login2.click()

time.sleep(1)

email = driver.find_element_by_xpath('//*[@id="ap_email"]').send_keys('xxxxxxx')
password = driver.find_element_by_xpath('//*[@id="ap_password"]').send_keys('xxxxxxx')

time.sleep(2)

siguiente = driver.find_element_by_xpath('//*[@id="signInSubmit"]')
siguiente.click()

time.sleep(1)

lista_pelis = []

soup = bs(driver.page_source, 'html.parser')

for p in soup.find_all('td', class_='titleColumn'):
    
    temp_tit = p.find('a')
    titulo = temp_tit.text

    if 'title' in temp_tit.attrs:
        director = temp_tit['title'].split(',')[0]

    lista_pelis.append([titulo, director])
    
driver.quit()

====== WebDriver manager ======
Current google-chrome version is 107.0.5304
Get LATEST chromedriver version for 107.0.5304 google-chrome
Driver [C:\Users\34620\.wdm\drivers\chromedriver\win32\107.0.5304.62\chromedriver.exe] found in cache

In [16]:
df_imbd = pd.DataFrame(lista_pelis, columns = ['Movie','Director'])
df_imbd.dtypes

Movie       object
Director    object
dtype: object

# 3ª Fuente
 #### Web scraping con BeautifulSoup para sacar los 50 mejores de directores según la url https://www.filmsite.org/

In [17]:
url = 'https://www.filmsite.org/greatdirectors-totalfilm.html'

html = req.get(url).text

soup = bs(html, 'html.parser')

In [18]:
tabla = soup.find_all('table')[3]

directores = []

for f in tabla.find_all('tr'):   
    
    direct = {
                 'Ranking' : f.find_all('td')[0].text.strip(),
                 'Director' : f.find_all('td')[1].text.strip()
                  }

    directores.append(direct)

In [19]:
df_directors = pd.DataFrame(directores)

# Se elimina la primera fila donde los datos coinciden con los nombres de las columnas
df_directors = df_directors.drop(df_directors[df_directors['Ranking'] == "Ranking"].index)  

# Se convierten los datos de la columna Ranking en números enteros
df_directors['Ranking'] = pd.to_numeric(df_directors['Ranking']) 

df_directors.dtypes

Ranking      int64
Director    object
dtype: object

## Insertando la siguiente query en el Workbench se crea la base de datos con su estructura

-- MySQL Workbench Forward Engineering

SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION';

-- -----------------------------------------------------
-- Schema streaming_imbd
-- -----------------------------------------------------

-- -----------------------------------------------------
-- Schema streaming_imbd
-- -----------------------------------------------------
CREATE SCHEMA IF NOT EXISTS `streaming_imbd` DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci ;
USE `streaming_imbd` ;

-- -----------------------------------------------------
-- Table `streaming_imbd`.`Directors`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `streaming_imbd`.`Directors` (
  `Ranking` INT NULL,
  `Director` VARCHAR(80) NOT NULL,
  PRIMARY KEY (`Director`))
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `streaming_imbd`.`Imbd`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `streaming_imbd`.`Imbd` (
  `Movie` VARCHAR(80) NOT NULL,
  `Director` VARCHAR(45) NULL,
  PRIMARY KEY (`Movie`))
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `streaming_imbd`.`Netflix`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `streaming_imbd`.`Netflix` (
  `netflix_id` INT NOT NULL,
  `Movie` VARCHAR(200) NULL,
  `Director` VARCHAR(300) NULL,
  `release_year` INT NULL,
  `Directors_Director` VARCHAR(45) NULL,
  `Imbd_Movie` VARCHAR(80) NULL,
  PRIMARY KEY (`netflix_id`),
  INDEX `fk_Netflix_Directors_idx` (`Directors_Director` ASC) VISIBLE,
  INDEX `fk_Netflix_Imbd1_idx` (`Imbd_Movie` ASC) VISIBLE,
  CONSTRAINT `fk_Netflix_Directors`
    FOREIGN KEY (`Directors_Director`)
    REFERENCES `streaming_imbd`.`Directors` (`Director`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_Netflix_Imbd1`
    FOREIGN KEY (`Imbd_Movie`)
    REFERENCES `streaming_imbd`.`Imbd` (`Movie`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `streaming_imbd`.`Amazon`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `streaming_imbd`.`Amazon` (
  `amazon_id` INT NOT NULL,
  `Movie` VARCHAR(120) NULL,
  `Director` VARCHAR(10000) NULL,
  `release_year` INT NULL,
  `Directors_Director` VARCHAR(45) NULL,
  `Imbd_Movie` VARCHAR(80) NULL,
  PRIMARY KEY (`amazon_id`),
  INDEX `fk_Amazon_Directors1_idx` (`Directors_Director` ASC) VISIBLE,
  INDEX `fk_Amazon_Imbd1_idx` (`Imbd_Movie` ASC) VISIBLE,
  CONSTRAINT `fk_Amazon_Directors1`
    FOREIGN KEY (`Directors_Director`)
    REFERENCES `streaming_imbd`.`Directors` (`Director`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_Amazon_Imbd1`
    FOREIGN KEY (`Imbd_Movie`)
    REFERENCES `streaming_imbd`.`Imbd` (`Movie`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `streaming_imbd`.`Disney`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `streaming_imbd`.`Disney` (
  `disney_id` INT NOT NULL,
  `Movie` VARCHAR(120) NULL,
  `Director` VARCHAR(300) NULL,
  `release_year` INT NULL,
  `Directors_Director` VARCHAR(45) NULL,
  `Imbd_Movie` VARCHAR(80) NULL,
  PRIMARY KEY (`disney_id`),
  INDEX `fk_Disney_Directors1_idx` (`Directors_Director` ASC) VISIBLE,
  INDEX `fk_Disney_Imbd1_idx` (`Imbd_Movie` ASC) VISIBLE,
  CONSTRAINT `fk_Disney_Directors1`
    FOREIGN KEY (`Directors_Director`)
    REFERENCES `streaming_imbd`.`Directors` (`Director`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_Disney_Imbd1`
    FOREIGN KEY (`Imbd_Movie`)
    REFERENCES `streaming_imbd`.`Imbd` (`Movie`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


SET SQL_MODE=@OLD_SQL_MODE;
SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;
SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS;

## Con las siguientes lineas de código se introducen los datos de todos los datasets en la base de datos creada previamente

In [20]:
str_conn = 'mysql+pymysql://root:123456@localhost:3306/streaming_imbd'

motor = create_engine(str_conn)

#df_netflix.to_sql(name='Netflix', con=motor, if_exists='append', index=False)
#df_amazon.to_sql(name='Amazon', con=motor, if_exists='append', index=False)
#df_disney.to_sql(name='Disney', con=motor, if_exists='append', index=False)
#df_imbd.to_sql(name='Imbd', con=motor, if_exists='append', index=False)
#df_directors.to_sql(name='Directors', con=motor, if_exists='append', index=False)

##  Top 250 Peliculas según Imbd que aparecen en las plataformas de streaming

### Netflix

In [25]:
ntfx = pd.read_sql('SELECT Movie, Director, release_year FROM Netflix WHERE Movie IN (SELECT Movie FROM Imbd)', motor)
  
ntfx

,Movie,Director,release_year
0,Once Upon a Time in America,Sergio Leone,1984
1,Catch Me If You Can,Steven Spielberg,2002
2,Inception,Christopher Nolan,2010
3,Django Unchained,Quentin Tarantino,2012
4,Million Dollar Baby,Clint Eastwood,2004
5,Hachi: A Dog's Tale,Lasse Hallström,2009
6,Taare Zameen Par,Aamir Khan,2007
7,Rush,Ron Howard,2013
8,3 Idiots,Rajkumar Hirani,2009
9,The Pianist,Roman Polański,2002
10,Shutter Island,Martin Scorsese,2010
11,Into the Wild,Sean Penn,2007
12,Rebecca,Ben Wheatley,2020
13,Psycho,Mysskin,2020
14,There Will Be Blood,Paul Thomas Anderson,2007
15,Taxi Driver,Daniel Oriahi,2015
16,Klaus,Sergio Pablos,2019
17,Monty Python and the Holy Grail,"Terry Gilliam, Terry Jones",1975
18,Andhadhun,Sriram Raghavan,2018
19,Joker,Shirish Kunder,2012
20,Dangal,Nitesh Tiwari,2016
21,A Clockwork Orange,Stanley Kubrick,1971
22,American Beauty,Sam Mendes,1999
23,American History X,Tony Kaye,1998
24,Avengers: Infinity War,"Anthony Russo, Joe Russo",2018
25,Babam ve Oğlum,Çagan Irmak,2005
26,Cool Hand Luke,Stuart Rosenberg,1967
27,GoodFellas,Martin Scorsese,1990
28,Gran Torino,Clint Eastwood,2008
29,Indiana Jones and the Last Crusade,Steven Spielberg,1989
30,Inglourious Basterds,Quentin Tarantino,2009
31,Kill Bill: Vol. 1,Quentin Tarantino,2003
32,"Lock, Stock and Two Smoking Barrels",Guy Ritchie,1998
33,Platoon,Oliver Stone,1986
34,Pulp Fiction,Quentin Tarantino,1994
35,Raging Bull,Martin Scorsese,1980
36,Rocky,John G. Avildsen,1976
37,Room,Lenny Abrahamson,2015
38,Schindler's List,Steven Spielberg,1993
39,Spider-Man: Into the Spider-Verse,"Peter Ramsey, Rodney Rothman, Bob Persichetti",2018
40,Spotlight,Tom McCarthy,2015
41,The Departed,Martin Scorsese,2006
42,The Lord of the Rings: The Return of the King,Peter Jackson,2003
43,The Lord of the Rings: The Two Towers,Peter Jackson,2002
44,The Matrix,"Lilly Wachowski, Lana Wachowski",1999
45,Trainspotting,Danny Boyle,1996
46,V for Vendetta,James McTeigue,2005

### Amazon

In [22]:
amz = pd.read_sql('SELECT Movie, Director, release_year FROM Amazon WHERE Movie IN (SELECT Movie FROM Imbd)', motor)

amz

                   Movie          Director  release_year
0       The Elephant Man       David Lynch          1980
1             Inside Out       David Ogden          2005
2  It's A Wonderful Life       Frank Capra          1946
3                  Joker      Raju Murugan          2016
4    Catch Me If You Can  Steven Spielberg          2002
5               Die Hard    John McTiernan          1988
6     The Princess Bride        Rob Reiner          1987

### Disney

In [23]:
dsny = pd.read_sql('select Movie, Director, release_year from Disney where Movie in (select Movie from Imbd)', motor)

dsny.head()

                Movie        Director  release_year
0            Hamilton     Thomas Kail          2020
1  The Princess Bride      Rob Reiner          1987
2       The Lion King     Jon Favreau          2019
3                Coco     Lee Unkrich          2017
4        Finding Nemo  Andrew Stanton          2003

## Diectores del ranking de filmsite y sus respectivas peliculas que aparecen en Netflix

In [24]:
ntfx_directors = pd.read_sql('select Movie, Director from Netflix where Director in (select Director from Directors)', motor)

ntfx_directors.head()

                         Movie          Director
0                         Jaws  Steven Spielberg
1  Blade Runner: The Final Cut      Ridley Scott
2                Mars Attacks!        Tim Burton
3  Once Upon a Time in America      Sergio Leone
4          Catch Me If You Can  Steven Spielberg